<form action="/cat/add" method="post">
    <label for="name">name</label>
    <input type="text" name="name" id="name">
    <label for="age">age</label>
    <input type="text" name="age" id="age">
    <label for="bio">bio</label>
    <input type="text" name="bio" id="bio">
    <label for="dateOfBirth">Date of birth</label>
    <input type="date" name="dateOfBirth" id="dateOfBirth">
    <button type="submit">CREATE CAT</button>
</form>