<h1>SIGNUP TO OUR WEBSITE</h1>

<form action="/auth/signup" method="post">
  <input type="text" name="username" id="">
  <input type="text" name="password" id="">
  <button type="submit">CREATE USER</button>
</form>