Add a cat
<form action='/cat/add' method="POST">
    <label for="name">Name</label>
    <input type="text" name="name" id="name">
    <label for="age">age</label>
    <input type="text" name="age" id="age">
    <label for="bio">bio</label>
    <input type="text" name="bio" id="bio">
    <label for="image">image</label>
    <input type="text" name="image" id="image">
    <button type="submit">CREATE</button>
</form>