<h1>LOGIN TO OUR WEBSITE</h1>

<form action="/auth/login" method="post">
  <input type="text" name="username" id="">
  <input type="text" name="password" id="">
  <button type="submit">LOGIN</button>
</form>

  {{#if message}}
    <div class="error-message">{{ message }}</div>
  {{/if}}
